# Log files
logs
*.log
*-debug.log
*-error.log

# Standard lib folder
/lib

# Tooling files
node_modules

# Site directory
/public

# Jest coverage folder
/coverage

# MacOS system files
.DS_Store

# Windows system files
Thumbs.db
ehthumbs.db
[Dd]esktop.ini
$RECYCLE.BIN/